In [1]:
import pandas as pd
import numpy as np

In [43]:
df=pd.read_csv('E:\\learning\\spssModelerLearning\\tantannic\\titanic_train .csv')

In [50]:
df=pd.read_csv(filepath_or_buffer='E:\\learning\\spssModelerLearning\\tantannic\\titanic_train .csv',index_col='PassengerId')

In [69]:
df=pd.read_csv('C:\\Users\\57206\\Desktop\\000905.csv',
               encoding='gbk')

In [70]:
df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>行标签</th>
      <th>平均值项:收盘价</th>
      <th>Unnamed: 2</th>
      <th>Unnamed: 3</th>
      <th>Unnamed: 4</th>
      <th>Unnamed: 5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2018/1/2</td>
      <td>6332.22690</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2018/1/3</td>
      <td>6388.25330</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2018/1/4</td>
      <td>6417.53500</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2018/1/5</td>
      <td>6417.25370</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2018/1/8</td>
      <td>6446.18180</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2018/1/9</td>
      <td>6445.74620</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2018/1/10</td>
      <td>6405.93950</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2018/1/11</td>
      <td>6425.94010</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2018/1/12</td>
      <td>6399.37370</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2018/1/15</td>
      <td>6253.37590</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2018/1/16</td>
      <td>6301.13270</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2018/1/17</td>
      <td>6267.45990</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2018/1/18</td>
      <td>6286.80070</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2018/1/19</td>
      <td>6272.38000</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2018/1/22</td>
      <td>6347.63830</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2018/1/23</td>
      <td>6354.99780</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2018/1/24</td>
      <td>6394.29990</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2018/1/25</td>
      <td>6382.71650</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2018/1/26</td>
      <td>6383.63120</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2018/1/29</td>
      <td>6309.88360</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2018/1/30</td>
      <td>6313.44200</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2018/1/31</td>
      <td>6189.34130</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2018/2/1</td>
      <td>5984.74280</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2018/2/2</td>
      <td>6004.84940</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2018/2/5</td>
      <td>5998.22360</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2018/2/6</td>
      <td>5704.26410</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2018/2/7</td>
      <td>5711.33220</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2018/2/8</td>
      <td>5766.47970</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2018/2/9</td>
      <td>5554.89740</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2018/2/12</td>
      <td>5699.09790</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>293</th>
      <td>2019/3/20</td>
      <td>5515.78560</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>294</th>
      <td>2019/3/21</td>
      <td>5589.47800</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>295</th>
      <td>2019/3/22</td>
      <td>5622.14020</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>296</th>
      <td>2019/3/25</td>
      <td>5549.67110</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>297</th>
      <td>2019/3/26</td>
      <td>5394.87870</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>298</th>
      <td>2019/3/27</td>
      <td>5447.87950</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>299</th>
      <td>2019/3/28</td>
      <td>5370.12340</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>300</th>
      <td>2019/3/29</td>
      <td>5547.65610</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>301</th>
      <td>2019/4/1</td>
      <td>5757.83790</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>302</th>
      <td>2019/4/2</td>
      <td>5775.54970</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>303</th>
      <td>2019/4/3</td>
      <td>5836.03690</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>304</th>
      <td>2019/4/4</td>
      <td>5871.55750</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>305</th>
      <td>2019/4/8</td>
      <td>5847.62960</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>306</th>
      <td>2019/4/9</td>
      <td>5858.04640</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>307</th>
      <td>2019/4/10</td>
      <td>5850.76090</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>308</th>
      <td>2019/4/11</td>
      <td>5727.17490</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>309</th>
      <td>2019/4/12</td>
      <td>5714.36760</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>310</th>
      <td>2019/4/15</td>
      <td>5655.98250</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>311</th>
      <td>2019/4/16</td>
      <td>5777.01110</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>312</th>
      <td>2019/4/17</td>
      <td>5807.72880</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>313</th>
      <td>2019/4/18</td>
      <td>5775.17100</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>314</th>
      <td>2019/4/19</td>
      <td>5810.17980</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>315</th>
      <td>2019/4/22</td>
      <td>5723.04170</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>316</th>
      <td>2019/4/23</td>
      <td>5628.06240</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>317</th>
      <td>2019/4/24</td>
      <td>5679.72560</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>318</th>
      <td>2019/4/25</td>
      <td>5458.41940</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>319</th>
      <td>2019/4/26</td>
      <td>5408.03060</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>320</th>
      <td>2019/4/29</td>
      <td>5265.60110</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>321</th>
      <td>2019/4/30</td>
      <td>5307.56000</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>322</th>
      <td>总计</td>
      <td>5235.89784</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>323 rows × 6 columns</p>
</div>

In [73]:
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>行标签</th>
      <th>平均值项:收盘价</th>
      <th>Unnamed: 2</th>
      <th>Unnamed: 3</th>
      <th>Unnamed: 4</th>
      <th>Unnamed: 5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2018/1/2</td>
      <td>6332.2269</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2018/1/3</td>
      <td>6388.2533</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2018/1/4</td>
      <td>6417.5350</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2018/1/5</td>
      <td>6417.2537</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2018/1/8</td>
      <td>6446.1818</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [76]:
df=df.iloc[:,0:2]

In [77]:
df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>行标签</th>
      <th>平均值项:收盘价</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2018/1/2</td>
      <td>6332.22690</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2018/1/3</td>
      <td>6388.25330</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2018/1/4</td>
      <td>6417.53500</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2018/1/5</td>
      <td>6417.25370</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2018/1/8</td>
      <td>6446.18180</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2018/1/9</td>
      <td>6445.74620</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2018/1/10</td>
      <td>6405.93950</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2018/1/11</td>
      <td>6425.94010</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2018/1/12</td>
      <td>6399.37370</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2018/1/15</td>
      <td>6253.37590</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2018/1/16</td>
      <td>6301.13270</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2018/1/17</td>
      <td>6267.45990</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2018/1/18</td>
      <td>6286.80070</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2018/1/19</td>
      <td>6272.38000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2018/1/22</td>
      <td>6347.63830</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2018/1/23</td>
      <td>6354.99780</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2018/1/24</td>
      <td>6394.29990</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2018/1/25</td>
      <td>6382.71650</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2018/1/26</td>
      <td>6383.63120</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2018/1/29</td>
      <td>6309.88360</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2018/1/30</td>
      <td>6313.44200</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2018/1/31</td>
      <td>6189.34130</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2018/2/1</td>
      <td>5984.74280</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2018/2/2</td>
      <td>6004.84940</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2018/2/5</td>
      <td>5998.22360</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2018/2/6</td>
      <td>5704.26410</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2018/2/7</td>
      <td>5711.33220</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2018/2/8</td>
      <td>5766.47970</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2018/2/9</td>
      <td>5554.89740</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2018/2/12</td>
      <td>5699.09790</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>293</th>
      <td>2019/3/20</td>
      <td>5515.78560</td>
    </tr>
    <tr>
      <th>294</th>
      <td>2019/3/21</td>
      <td>5589.47800</td>
    </tr>
    <tr>
      <th>295</th>
      <td>2019/3/22</td>
      <td>5622.14020</td>
    </tr>
    <tr>
      <th>296</th>
      <td>2019/3/25</td>
      <td>5549.67110</td>
    </tr>
    <tr>
      <th>297</th>
      <td>2019/3/26</td>
      <td>5394.87870</td>
    </tr>
    <tr>
      <th>298</th>
      <td>2019/3/27</td>
      <td>5447.87950</td>
    </tr>
    <tr>
      <th>299</th>
      <td>2019/3/28</td>
      <td>5370.12340</td>
    </tr>
    <tr>
      <th>300</th>
      <td>2019/3/29</td>
      <td>5547.65610</td>
    </tr>
    <tr>
      <th>301</th>
      <td>2019/4/1</td>
      <td>5757.83790</td>
    </tr>
    <tr>
      <th>302</th>
      <td>2019/4/2</td>
      <td>5775.54970</td>
    </tr>
    <tr>
      <th>303</th>
      <td>2019/4/3</td>
      <td>5836.03690</td>
    </tr>
    <tr>
      <th>304</th>
      <td>2019/4/4</td>
      <td>5871.55750</td>
    </tr>
    <tr>
      <th>305</th>
      <td>2019/4/8</td>
      <td>5847.62960</td>
    </tr>
    <tr>
      <th>306</th>
      <td>2019/4/9</td>
      <td>5858.04640</td>
    </tr>
    <tr>
      <th>307</th>
      <td>2019/4/10</td>
      <td>5850.76090</td>
    </tr>
    <tr>
      <th>308</th>
      <td>2019/4/11</td>
      <td>5727.17490</td>
    </tr>
    <tr>
      <th>309</th>
      <td>2019/4/12</td>
      <td>5714.36760</td>
    </tr>
    <tr>
      <th>310</th>
      <td>2019/4/15</td>
      <td>5655.98250</td>
    </tr>
    <tr>
      <th>311</th>
      <td>2019/4/16</td>
      <td>5777.01110</td>
    </tr>
    <tr>
      <th>312</th>
      <td>2019/4/17</td>
      <td>5807.72880</td>
    </tr>
    <tr>
      <th>313</th>
      <td>2019/4/18</td>
      <td>5775.17100</td>
    </tr>
    <tr>
      <th>314</th>
      <td>2019/4/19</td>
      <td>5810.17980</td>
    </tr>
    <tr>
      <th>315</th>
      <td>2019/4/22</td>
      <td>5723.04170</td>
    </tr>
    <tr>
      <th>316</th>
      <td>2019/4/23</td>
      <td>5628.06240</td>
    </tr>
    <tr>
      <th>317</th>
      <td>2019/4/24</td>
      <td>5679.72560</td>
    </tr>
    <tr>
      <th>318</th>
      <td>2019/4/25</td>
      <td>5458.41940</td>
    </tr>
    <tr>
      <th>319</th>
      <td>2019/4/26</td>
      <td>5408.03060</td>
    </tr>
    <tr>
      <th>320</th>
      <td>2019/4/29</td>
      <td>5265.60110</td>
    </tr>
    <tr>
      <th>321</th>
      <td>2019/4/30</td>
      <td>5307.56000</td>
    </tr>
    <tr>
      <th>322</th>
      <td>总计</td>
      <td>5235.89784</td>
    </tr>
  </tbody>
</table>
<p>323 rows × 2 columns</p>
</div>

In [79]:
df.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>平均值项:收盘价</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>323.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>5235.897840</td>
    </tr>
    <tr>
      <th>std</th>
      <td>704.797338</td>
    </tr>
    <tr>
      <th>min</th>
      <td>4018.461400</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>4559.104900</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>5195.200200</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>5891.059900</td>
    </tr>
    <tr>
      <th>max</th>
      <td>6446.181800</td>
    </tr>
  </tbody>
</table>
</div>

In [84]:
df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>行标签</th>
      <th>平均值项:收盘价</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2018/1/2</td>
      <td>6332.22690</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2018/1/3</td>
      <td>6388.25330</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2018/1/4</td>
      <td>6417.53500</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2018/1/5</td>
      <td>6417.25370</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2018/1/8</td>
      <td>6446.18180</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2018/1/9</td>
      <td>6445.74620</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2018/1/10</td>
      <td>6405.93950</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2018/1/11</td>
      <td>6425.94010</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2018/1/12</td>
      <td>6399.37370</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2018/1/15</td>
      <td>6253.37590</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2018/1/16</td>
      <td>6301.13270</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2018/1/17</td>
      <td>6267.45990</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2018/1/18</td>
      <td>6286.80070</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2018/1/19</td>
      <td>6272.38000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2018/1/22</td>
      <td>6347.63830</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2018/1/23</td>
      <td>6354.99780</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2018/1/24</td>
      <td>6394.29990</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2018/1/25</td>
      <td>6382.71650</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2018/1/26</td>
      <td>6383.63120</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2018/1/29</td>
      <td>6309.88360</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2018/1/30</td>
      <td>6313.44200</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2018/1/31</td>
      <td>6189.34130</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2018/2/1</td>
      <td>5984.74280</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2018/2/2</td>
      <td>6004.84940</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2018/2/5</td>
      <td>5998.22360</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2018/2/6</td>
      <td>5704.26410</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2018/2/7</td>
      <td>5711.33220</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2018/2/8</td>
      <td>5766.47970</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2018/2/9</td>
      <td>5554.89740</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2018/2/12</td>
      <td>5699.09790</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>293</th>
      <td>2019/3/20</td>
      <td>5515.78560</td>
    </tr>
    <tr>
      <th>294</th>
      <td>2019/3/21</td>
      <td>5589.47800</td>
    </tr>
    <tr>
      <th>295</th>
      <td>2019/3/22</td>
      <td>5622.14020</td>
    </tr>
    <tr>
      <th>296</th>
      <td>2019/3/25</td>
      <td>5549.67110</td>
    </tr>
    <tr>
      <th>297</th>
      <td>2019/3/26</td>
      <td>5394.87870</td>
    </tr>
    <tr>
      <th>298</th>
      <td>2019/3/27</td>
      <td>5447.87950</td>
    </tr>
    <tr>
      <th>299</th>
      <td>2019/3/28</td>
      <td>5370.12340</td>
    </tr>
    <tr>
      <th>300</th>
      <td>2019/3/29</td>
      <td>5547.65610</td>
    </tr>
    <tr>
      <th>301</th>
      <td>2019/4/1</td>
      <td>5757.83790</td>
    </tr>
    <tr>
      <th>302</th>
      <td>2019/4/2</td>
      <td>5775.54970</td>
    </tr>
    <tr>
      <th>303</th>
      <td>2019/4/3</td>
      <td>5836.03690</td>
    </tr>
    <tr>
      <th>304</th>
      <td>2019/4/4</td>
      <td>5871.55750</td>
    </tr>
    <tr>
      <th>305</th>
      <td>2019/4/8</td>
      <td>5847.62960</td>
    </tr>
    <tr>
      <th>306</th>
      <td>2019/4/9</td>
      <td>5858.04640</td>
    </tr>
    <tr>
      <th>307</th>
      <td>2019/4/10</td>
      <td>5850.76090</td>
    </tr>
    <tr>
      <th>308</th>
      <td>2019/4/11</td>
      <td>5727.17490</td>
    </tr>
    <tr>
      <th>309</th>
      <td>2019/4/12</td>
      <td>5714.36760</td>
    </tr>
    <tr>
      <th>310</th>
      <td>2019/4/15</td>
      <td>5655.98250</td>
    </tr>
    <tr>
      <th>311</th>
      <td>2019/4/16</td>
      <td>5777.01110</td>
    </tr>
    <tr>
      <th>312</th>
      <td>2019/4/17</td>
      <td>5807.72880</td>
    </tr>
    <tr>
      <th>313</th>
      <td>2019/4/18</td>
      <td>5775.17100</td>
    </tr>
    <tr>
      <th>314</th>
      <td>2019/4/19</td>
      <td>5810.17980</td>
    </tr>
    <tr>
      <th>315</th>
      <td>2019/4/22</td>
      <td>5723.04170</td>
    </tr>
    <tr>
      <th>316</th>
      <td>2019/4/23</td>
      <td>5628.06240</td>
    </tr>
    <tr>
      <th>317</th>
      <td>2019/4/24</td>
      <td>5679.72560</td>
    </tr>
    <tr>
      <th>318</th>
      <td>2019/4/25</td>
      <td>5458.41940</td>
    </tr>
    <tr>
      <th>319</th>
      <td>2019/4/26</td>
      <td>5408.03060</td>
    </tr>
    <tr>
      <th>320</th>
      <td>2019/4/29</td>
      <td>5265.60110</td>
    </tr>
    <tr>
      <th>321</th>
      <td>2019/4/30</td>
      <td>5307.56000</td>
    </tr>
    <tr>
      <th>322</th>
      <td>总计</td>
      <td>5235.89784</td>
    </tr>
  </tbody>
</table>
<p>323 rows × 2 columns</p>
</div>

In [87]:
df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>行标签</th>
      <th>平均值项:收盘价</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2018/1/2</td>
      <td>6332.22690</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2018/1/3</td>
      <td>6388.25330</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2018/1/4</td>
      <td>6417.53500</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2018/1/5</td>
      <td>6417.25370</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2018/1/8</td>
      <td>6446.18180</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2018/1/9</td>
      <td>6445.74620</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2018/1/10</td>
      <td>6405.93950</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2018/1/11</td>
      <td>6425.94010</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2018/1/12</td>
      <td>6399.37370</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2018/1/15</td>
      <td>6253.37590</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2018/1/16</td>
      <td>6301.13270</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2018/1/17</td>
      <td>6267.45990</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2018/1/18</td>
      <td>6286.80070</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2018/1/19</td>
      <td>6272.38000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2018/1/22</td>
      <td>6347.63830</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2018/1/23</td>
      <td>6354.99780</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2018/1/24</td>
      <td>6394.29990</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2018/1/25</td>
      <td>6382.71650</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2018/1/26</td>
      <td>6383.63120</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2018/1/29</td>
      <td>6309.88360</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2018/1/30</td>
      <td>6313.44200</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2018/1/31</td>
      <td>6189.34130</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2018/2/1</td>
      <td>5984.74280</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2018/2/2</td>
      <td>6004.84940</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2018/2/5</td>
      <td>5998.22360</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2018/2/6</td>
      <td>5704.26410</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2018/2/7</td>
      <td>5711.33220</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2018/2/8</td>
      <td>5766.47970</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2018/2/9</td>
      <td>5554.89740</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2018/2/12</td>
      <td>5699.09790</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>293</th>
      <td>2019/3/20</td>
      <td>5515.78560</td>
    </tr>
    <tr>
      <th>294</th>
      <td>2019/3/21</td>
      <td>5589.47800</td>
    </tr>
    <tr>
      <th>295</th>
      <td>2019/3/22</td>
      <td>5622.14020</td>
    </tr>
    <tr>
      <th>296</th>
      <td>2019/3/25</td>
      <td>5549.67110</td>
    </tr>
    <tr>
      <th>297</th>
      <td>2019/3/26</td>
      <td>5394.87870</td>
    </tr>
    <tr>
      <th>298</th>
      <td>2019/3/27</td>
      <td>5447.87950</td>
    </tr>
    <tr>
      <th>299</th>
      <td>2019/3/28</td>
      <td>5370.12340</td>
    </tr>
    <tr>
      <th>300</th>
      <td>2019/3/29</td>
      <td>5547.65610</td>
    </tr>
    <tr>
      <th>301</th>
      <td>2019/4/1</td>
      <td>5757.83790</td>
    </tr>
    <tr>
      <th>302</th>
      <td>2019/4/2</td>
      <td>5775.54970</td>
    </tr>
    <tr>
      <th>303</th>
      <td>2019/4/3</td>
      <td>5836.03690</td>
    </tr>
    <tr>
      <th>304</th>
      <td>2019/4/4</td>
      <td>5871.55750</td>
    </tr>
    <tr>
      <th>305</th>
      <td>2019/4/8</td>
      <td>5847.62960</td>
    </tr>
    <tr>
      <th>306</th>
      <td>2019/4/9</td>
      <td>5858.04640</td>
    </tr>
    <tr>
      <th>307</th>
      <td>2019/4/10</td>
      <td>5850.76090</td>
    </tr>
    <tr>
      <th>308</th>
      <td>2019/4/11</td>
      <td>5727.17490</td>
    </tr>
    <tr>
      <th>309</th>
      <td>2019/4/12</td>
      <td>5714.36760</td>
    </tr>
    <tr>
      <th>310</th>
      <td>2019/4/15</td>
      <td>5655.98250</td>
    </tr>
    <tr>
      <th>311</th>
      <td>2019/4/16</td>
      <td>5777.01110</td>
    </tr>
    <tr>
      <th>312</th>
      <td>2019/4/17</td>
      <td>5807.72880</td>
    </tr>
    <tr>
      <th>313</th>
      <td>2019/4/18</td>
      <td>5775.17100</td>
    </tr>
    <tr>
      <th>314</th>
      <td>2019/4/19</td>
      <td>5810.17980</td>
    </tr>
    <tr>
      <th>315</th>
      <td>2019/4/22</td>
      <td>5723.04170</td>
    </tr>
    <tr>
      <th>316</th>
      <td>2019/4/23</td>
      <td>5628.06240</td>
    </tr>
    <tr>
      <th>317</th>
      <td>2019/4/24</td>
      <td>5679.72560</td>
    </tr>
    <tr>
      <th>318</th>
      <td>2019/4/25</td>
      <td>5458.41940</td>
    </tr>
    <tr>
      <th>319</th>
      <td>2019/4/26</td>
      <td>5408.03060</td>
    </tr>
    <tr>
      <th>320</th>
      <td>2019/4/29</td>
      <td>5265.60110</td>
    </tr>
    <tr>
      <th>321</th>
      <td>2019/4/30</td>
      <td>5307.56000</td>
    </tr>
    <tr>
      <th>322</th>
      <td>总计</td>
      <td>5235.89784</td>
    </tr>
  </tbody>
</table>
<p>323 rows × 2 columns</p>
</div>

In [88]:
df.rename({'行标签':'date',
           '平均值项:收盘价':'price'})

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>行标签</th>
      <th>平均值项:收盘价</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2018/1/2</td>
      <td>6332.22690</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2018/1/3</td>
      <td>6388.25330</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2018/1/4</td>
      <td>6417.53500</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2018/1/5</td>
      <td>6417.25370</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2018/1/8</td>
      <td>6446.18180</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2018/1/9</td>
      <td>6445.74620</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2018/1/10</td>
      <td>6405.93950</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2018/1/11</td>
      <td>6425.94010</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2018/1/12</td>
      <td>6399.37370</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2018/1/15</td>
      <td>6253.37590</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2018/1/16</td>
      <td>6301.13270</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2018/1/17</td>
      <td>6267.45990</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2018/1/18</td>
      <td>6286.80070</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2018/1/19</td>
      <td>6272.38000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2018/1/22</td>
      <td>6347.63830</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2018/1/23</td>
      <td>6354.99780</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2018/1/24</td>
      <td>6394.29990</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2018/1/25</td>
      <td>6382.71650</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2018/1/26</td>
      <td>6383.63120</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2018/1/29</td>
      <td>6309.88360</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2018/1/30</td>
      <td>6313.44200</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2018/1/31</td>
      <td>6189.34130</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2018/2/1</td>
      <td>5984.74280</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2018/2/2</td>
      <td>6004.84940</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2018/2/5</td>
      <td>5998.22360</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2018/2/6</td>
      <td>5704.26410</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2018/2/7</td>
      <td>5711.33220</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2018/2/8</td>
      <td>5766.47970</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2018/2/9</td>
      <td>5554.89740</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2018/2/12</td>
      <td>5699.09790</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>293</th>
      <td>2019/3/20</td>
      <td>5515.78560</td>
    </tr>
    <tr>
      <th>294</th>
      <td>2019/3/21</td>
      <td>5589.47800</td>
    </tr>
    <tr>
      <th>295</th>
      <td>2019/3/22</td>
      <td>5622.14020</td>
    </tr>
    <tr>
      <th>296</th>
      <td>2019/3/25</td>
      <td>5549.67110</td>
    </tr>
    <tr>
      <th>297</th>
      <td>2019/3/26</td>
      <td>5394.87870</td>
    </tr>
    <tr>
      <th>298</th>
      <td>2019/3/27</td>
      <td>5447.87950</td>
    </tr>
    <tr>
      <th>299</th>
      <td>2019/3/28</td>
      <td>5370.12340</td>
    </tr>
    <tr>
      <th>300</th>
      <td>2019/3/29</td>
      <td>5547.65610</td>
    </tr>
    <tr>
      <th>301</th>
      <td>2019/4/1</td>
      <td>5757.83790</td>
    </tr>
    <tr>
      <th>302</th>
      <td>2019/4/2</td>
      <td>5775.54970</td>
    </tr>
    <tr>
      <th>303</th>
      <td>2019/4/3</td>
      <td>5836.03690</td>
    </tr>
    <tr>
      <th>304</th>
      <td>2019/4/4</td>
      <td>5871.55750</td>
    </tr>
    <tr>
      <th>305</th>
      <td>2019/4/8</td>
      <td>5847.62960</td>
    </tr>
    <tr>
      <th>306</th>
      <td>2019/4/9</td>
      <td>5858.04640</td>
    </tr>
    <tr>
      <th>307</th>
      <td>2019/4/10</td>
      <td>5850.76090</td>
    </tr>
    <tr>
      <th>308</th>
      <td>2019/4/11</td>
      <td>5727.17490</td>
    </tr>
    <tr>
      <th>309</th>
      <td>2019/4/12</td>
      <td>5714.36760</td>
    </tr>
    <tr>
      <th>310</th>
      <td>2019/4/15</td>
      <td>5655.98250</td>
    </tr>
    <tr>
      <th>311</th>
      <td>2019/4/16</td>
      <td>5777.01110</td>
    </tr>
    <tr>
      <th>312</th>
      <td>2019/4/17</td>
      <td>5807.72880</td>
    </tr>
    <tr>
      <th>313</th>
      <td>2019/4/18</td>
      <td>5775.17100</td>
    </tr>
    <tr>
      <th>314</th>
      <td>2019/4/19</td>
      <td>5810.17980</td>
    </tr>
    <tr>
      <th>315</th>
      <td>2019/4/22</td>
      <td>5723.04170</td>
    </tr>
    <tr>
      <th>316</th>
      <td>2019/4/23</td>
      <td>5628.06240</td>
    </tr>
    <tr>
      <th>317</th>
      <td>2019/4/24</td>
      <td>5679.72560</td>
    </tr>
    <tr>
      <th>318</th>
      <td>2019/4/25</td>
      <td>5458.41940</td>
    </tr>
    <tr>
      <th>319</th>
      <td>2019/4/26</td>
      <td>5408.03060</td>
    </tr>
    <tr>
      <th>320</th>
      <td>2019/4/29</td>
      <td>5265.60110</td>
    </tr>
    <tr>
      <th>321</th>
      <td>2019/4/30</td>
      <td>5307.56000</td>
    </tr>
    <tr>
      <th>322</th>
      <td>总计</td>
      <td>5235.89784</td>
    </tr>
  </tbody>
</table>
<p>323 rows × 2 columns</p>
</div>

In [90]:
df.columns=['date','price']

In [93]:
df.index

RangeIndex(start=0, stop=323, step=1)

In [97]:
df.columns

Index(['date', 'price'], dtype='object')

In [101]:
xls=pd.read_excel('C:\\Users\\57206\\Desktop\\test.xlsx')

In [102]:
xls

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2018-01-02 00:00:00</td>
      <td>6332.22690</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2018-01-03 00:00:00</td>
      <td>6388.25330</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2018-01-04 00:00:00</td>
      <td>6417.53500</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2018-01-05 00:00:00</td>
      <td>6417.25370</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2018-01-08 00:00:00</td>
      <td>6446.18180</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2018-01-09 00:00:00</td>
      <td>6445.74620</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2018-01-10 00:00:00</td>
      <td>6405.93950</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2018-01-11 00:00:00</td>
      <td>6425.94010</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2018-01-12 00:00:00</td>
      <td>6399.37370</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2018-01-15 00:00:00</td>
      <td>6253.37590</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2018-01-16 00:00:00</td>
      <td>6301.13270</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2018-01-17 00:00:00</td>
      <td>6267.45990</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2018-01-18 00:00:00</td>
      <td>6286.80070</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2018-01-19 00:00:00</td>
      <td>6272.38000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2018-01-22 00:00:00</td>
      <td>6347.63830</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2018-01-23 00:00:00</td>
      <td>6354.99780</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2018-01-24 00:00:00</td>
      <td>6394.29990</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2018-01-25 00:00:00</td>
      <td>6382.71650</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2018-01-26 00:00:00</td>
      <td>6383.63120</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2018-01-29 00:00:00</td>
      <td>6309.88360</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2018-01-30 00:00:00</td>
      <td>6313.44200</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2018-01-31 00:00:00</td>
      <td>6189.34130</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2018-02-01 00:00:00</td>
      <td>5984.74280</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2018-02-02 00:00:00</td>
      <td>6004.84940</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2018-02-05 00:00:00</td>
      <td>5998.22360</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2018-02-06 00:00:00</td>
      <td>5704.26410</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2018-02-07 00:00:00</td>
      <td>5711.33220</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2018-02-08 00:00:00</td>
      <td>5766.47970</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2018-02-09 00:00:00</td>
      <td>5554.89740</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2018-02-12 00:00:00</td>
      <td>5699.09790</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>293</th>
      <td>2019-03-20 00:00:00</td>
      <td>5515.78560</td>
    </tr>
    <tr>
      <th>294</th>
      <td>2019-03-21 00:00:00</td>
      <td>5589.47800</td>
    </tr>
    <tr>
      <th>295</th>
      <td>2019-03-22 00:00:00</td>
      <td>5622.14020</td>
    </tr>
    <tr>
      <th>296</th>
      <td>2019-03-25 00:00:00</td>
      <td>5549.67110</td>
    </tr>
    <tr>
      <th>297</th>
      <td>2019-03-26 00:00:00</td>
      <td>5394.87870</td>
    </tr>
    <tr>
      <th>298</th>
      <td>2019-03-27 00:00:00</td>
      <td>5447.87950</td>
    </tr>
    <tr>
      <th>299</th>
      <td>2019-03-28 00:00:00</td>
      <td>5370.12340</td>
    </tr>
    <tr>
      <th>300</th>
      <td>2019-03-29 00:00:00</td>
      <td>5547.65610</td>
    </tr>
    <tr>
      <th>301</th>
      <td>2019-04-01 00:00:00</td>
      <td>5757.83790</td>
    </tr>
    <tr>
      <th>302</th>
      <td>2019-04-02 00:00:00</td>
      <td>5775.54970</td>
    </tr>
    <tr>
      <th>303</th>
      <td>2019-04-03 00:00:00</td>
      <td>5836.03690</td>
    </tr>
    <tr>
      <th>304</th>
      <td>2019-04-04 00:00:00</td>
      <td>5871.55750</td>
    </tr>
    <tr>
      <th>305</th>
      <td>2019-04-08 00:00:00</td>
      <td>5847.62960</td>
    </tr>
    <tr>
      <th>306</th>
      <td>2019-04-09 00:00:00</td>
      <td>5858.04640</td>
    </tr>
    <tr>
      <th>307</th>
      <td>2019-04-10 00:00:00</td>
      <td>5850.76090</td>
    </tr>
    <tr>
      <th>308</th>
      <td>2019-04-11 00:00:00</td>
      <td>5727.17490</td>
    </tr>
    <tr>
      <th>309</th>
      <td>2019-04-12 00:00:00</td>
      <td>5714.36760</td>
    </tr>
    <tr>
      <th>310</th>
      <td>2019-04-15 00:00:00</td>
      <td>5655.98250</td>
    </tr>
    <tr>
      <th>311</th>
      <td>2019-04-16 00:00:00</td>
      <td>5777.01110</td>
    </tr>
    <tr>
      <th>312</th>
      <td>2019-04-17 00:00:00</td>
      <td>5807.72880</td>
    </tr>
    <tr>
      <th>313</th>
      <td>2019-04-18 00:00:00</td>
      <td>5775.17100</td>
    </tr>
    <tr>
      <th>314</th>
      <td>2019-04-19 00:00:00</td>
      <td>5810.17980</td>
    </tr>
    <tr>
      <th>315</th>
      <td>2019-04-22 00:00:00</td>
      <td>5723.04170</td>
    </tr>
    <tr>
      <th>316</th>
      <td>2019-04-23 00:00:00</td>
      <td>5628.06240</td>
    </tr>
    <tr>
      <th>317</th>
      <td>2019-04-24 00:00:00</td>
      <td>5679.72560</td>
    </tr>
    <tr>
      <th>318</th>
      <td>2019-04-25 00:00:00</td>
      <td>5458.41940</td>
    </tr>
    <tr>
      <th>319</th>
      <td>2019-04-26 00:00:00</td>
      <td>5408.03060</td>
    </tr>
    <tr>
      <th>320</th>
      <td>2019-04-29 00:00:00</td>
      <td>5265.60110</td>
    </tr>
    <tr>
      <th>321</th>
      <td>2019-04-30 00:00:00</td>
      <td>5307.56000</td>
    </tr>
    <tr>
      <th>322</th>
      <td>总计</td>
      <td>5235.89784</td>
    </tr>
  </tbody>
</table>
<p>323 rows × 2 columns</p>
</div>

In [104]:
xls.var()

price    496739.288095
dtype: float64

In [111]:
xls

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2018-01-02 00:00:00</td>
      <td>6332.22690</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2018-01-03 00:00:00</td>
      <td>6388.25330</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2018-01-04 00:00:00</td>
      <td>6417.53500</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2018-01-05 00:00:00</td>
      <td>6417.25370</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2018-01-08 00:00:00</td>
      <td>6446.18180</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2018-01-09 00:00:00</td>
      <td>6445.74620</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2018-01-10 00:00:00</td>
      <td>6405.93950</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2018-01-11 00:00:00</td>
      <td>6425.94010</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2018-01-12 00:00:00</td>
      <td>6399.37370</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2018-01-15 00:00:00</td>
      <td>6253.37590</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2018-01-16 00:00:00</td>
      <td>6301.13270</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2018-01-17 00:00:00</td>
      <td>6267.45990</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2018-01-18 00:00:00</td>
      <td>6286.80070</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2018-01-19 00:00:00</td>
      <td>6272.38000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2018-01-22 00:00:00</td>
      <td>6347.63830</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2018-01-23 00:00:00</td>
      <td>6354.99780</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2018-01-24 00:00:00</td>
      <td>6394.29990</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2018-01-25 00:00:00</td>
      <td>6382.71650</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2018-01-26 00:00:00</td>
      <td>6383.63120</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2018-01-29 00:00:00</td>
      <td>6309.88360</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2018-01-30 00:00:00</td>
      <td>6313.44200</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2018-01-31 00:00:00</td>
      <td>6189.34130</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2018-02-01 00:00:00</td>
      <td>5984.74280</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2018-02-02 00:00:00</td>
      <td>6004.84940</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2018-02-05 00:00:00</td>
      <td>5998.22360</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2018-02-06 00:00:00</td>
      <td>5704.26410</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2018-02-07 00:00:00</td>
      <td>5711.33220</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2018-02-08 00:00:00</td>
      <td>5766.47970</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2018-02-09 00:00:00</td>
      <td>5554.89740</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2018-02-12 00:00:00</td>
      <td>5699.09790</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>293</th>
      <td>2019-03-20 00:00:00</td>
      <td>5515.78560</td>
    </tr>
    <tr>
      <th>294</th>
      <td>2019-03-21 00:00:00</td>
      <td>5589.47800</td>
    </tr>
    <tr>
      <th>295</th>
      <td>2019-03-22 00:00:00</td>
      <td>5622.14020</td>
    </tr>
    <tr>
      <th>296</th>
      <td>2019-03-25 00:00:00</td>
      <td>5549.67110</td>
    </tr>
    <tr>
      <th>297</th>
      <td>2019-03-26 00:00:00</td>
      <td>5394.87870</td>
    </tr>
    <tr>
      <th>298</th>
      <td>2019-03-27 00:00:00</td>
      <td>5447.87950</td>
    </tr>
    <tr>
      <th>299</th>
      <td>2019-03-28 00:00:00</td>
      <td>5370.12340</td>
    </tr>
    <tr>
      <th>300</th>
      <td>2019-03-29 00:00:00</td>
      <td>5547.65610</td>
    </tr>
    <tr>
      <th>301</th>
      <td>2019-04-01 00:00:00</td>
      <td>5757.83790</td>
    </tr>
    <tr>
      <th>302</th>
      <td>2019-04-02 00:00:00</td>
      <td>5775.54970</td>
    </tr>
    <tr>
      <th>303</th>
      <td>2019-04-03 00:00:00</td>
      <td>5836.03690</td>
    </tr>
    <tr>
      <th>304</th>
      <td>2019-04-04 00:00:00</td>
      <td>5871.55750</td>
    </tr>
    <tr>
      <th>305</th>
      <td>2019-04-08 00:00:00</td>
      <td>5847.62960</td>
    </tr>
    <tr>
      <th>306</th>
      <td>2019-04-09 00:00:00</td>
      <td>5858.04640</td>
    </tr>
    <tr>
      <th>307</th>
      <td>2019-04-10 00:00:00</td>
      <td>5850.76090</td>
    </tr>
    <tr>
      <th>308</th>
      <td>2019-04-11 00:00:00</td>
      <td>5727.17490</td>
    </tr>
    <tr>
      <th>309</th>
      <td>2019-04-12 00:00:00</td>
      <td>5714.36760</td>
    </tr>
    <tr>
      <th>310</th>
      <td>2019-04-15 00:00:00</td>
      <td>5655.98250</td>
    </tr>
    <tr>
      <th>311</th>
      <td>2019-04-16 00:00:00</td>
      <td>5777.01110</td>
    </tr>
    <tr>
      <th>312</th>
      <td>2019-04-17 00:00:00</td>
      <td>5807.72880</td>
    </tr>
    <tr>
      <th>313</th>
      <td>2019-04-18 00:00:00</td>
      <td>5775.17100</td>
    </tr>
    <tr>
      <th>314</th>
      <td>2019-04-19 00:00:00</td>
      <td>5810.17980</td>
    </tr>
    <tr>
      <th>315</th>
      <td>2019-04-22 00:00:00</td>
      <td>5723.04170</td>
    </tr>
    <tr>
      <th>316</th>
      <td>2019-04-23 00:00:00</td>
      <td>5628.06240</td>
    </tr>
    <tr>
      <th>317</th>
      <td>2019-04-24 00:00:00</td>
      <td>5679.72560</td>
    </tr>
    <tr>
      <th>318</th>
      <td>2019-04-25 00:00:00</td>
      <td>5458.41940</td>
    </tr>
    <tr>
      <th>319</th>
      <td>2019-04-26 00:00:00</td>
      <td>5408.03060</td>
    </tr>
    <tr>
      <th>320</th>
      <td>2019-04-29 00:00:00</td>
      <td>5265.60110</td>
    </tr>
    <tr>
      <th>321</th>
      <td>2019-04-30 00:00:00</td>
      <td>5307.56000</td>
    </tr>
    <tr>
      <th>322</th>
      <td>总计</td>
      <td>5235.89784</td>
    </tr>
  </tbody>
</table>
<p>323 rows × 2 columns</p>
</div>